.container {
  display: flex;
}
.container .awardsCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 24px;
  margin-bottom: 32px;
  width: 100%;
}
@media (max-width: 600px) {
  .container {
    height: 412px;
    margin: 0 24px;
  }
  .container .awardsCards {
    display: flex;
    flex-direction: column;
  }
  .container .awardsCards .responsiveCardSection {
    display: flex;
    justify-content: center;
    grid-gap: 18px;
  }
}
