.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  text-align: center;
  margin-bottom: 32px;
}
.CardSectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 56px 16px 47px;
}
.CardSectionSvg {
  margin-bottom: 16px;
}
.CardSectionSvg svg {
  color: #c1c1c1;
  width: 229px;
  height: 170px;
}
.CardSectionStatement h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
}
.CardSectionStatement p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
@media (max-width: 600px) {
  .CardSectionStatement h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
  }
  .CardSectionStatement p {
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    margin-bottom: 12px;
  }
}
