.container {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 16px;
}
.container .titleAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.container .titleAndButton .title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.container .previewContent {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  text-align: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 16px;
}
.container .previewContent .squareAwardsSection {
  display: flex;
  justify-content: center;
}
.container .previewContent .cardAndInput {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-gap: 24px;
  padding: 20 12px 12px 12px;
}
@media (max-width: 600px) {
  .container {
    border: none;
    padding: 12px;
    margin: 0 24px;
  }
  .container .previewContent .cardAndInput {
    display: flex;
    flex-direction: column;
  }
}
