.container {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 16px;
}
.titleAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.previewContent {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  text-align: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 16px;
}
.squareAwardsSection {
  display: flex;
  justify-content: center;
}
.cardAndInput {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-gap: 24px;
  padding: 20 12px 12px 12px;
}
.responsiveCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.responsiveCard svg {
  width: 136px;
  height: 86px;
  margin-bottom: 12px;
}
.responsiveCard input {
  width: 58px;
  height: 37px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #454545;
  margin-bottom: 12px;
}
.responsiveCard span {
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  width: 136px;
  height: 40px;
  text-align: center;
  color: #000000;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 16px;
}
@media (max-width: 600px) {
  .container {
    border: none;
    padding: 12px;
    margin: 0 24px;
  }
  .previewContent {
    padding: 12px 0;
  }
  .cardAndInput {
    display: flex;
    flex-direction: column;
  }

  .inputContainer {
    margin: 0 16px;
    width: 100%;
  }
  .saveButton {
    margin: 0 16px;
  }
}
