@import url("https://stijndv.com");
@import url("https://stijndv.com/fonts/Eudoxus-Sans.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Eudoxus Sans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
