.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 254px;
  border-radius: 12px;
  position: relative;
  background: #ffffff;
  cursor: pointer;
}
.container:hover .trashDeleteIcon {
  display: block;
  cursor: pointer;
}
.awardsCard {
  border: 1px solid #e0e0e0;
}
.responsiveAwardsCard {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 366px;
  height: 126px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  height: 126px;
}
.awardsCardWithoutDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9e9e9e;
  border-radius: 12px;
  width: 201px;
  height: 280px;
}
.awardsCardWithoutDelete:hover .trashDeleteIcon {
  display: none;
}
.awardsCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.trashDeleteIcon {
  display: none;
  position: absolute;
  left: 138px;
  top: 20px;
  z-index: 2;
}
.trashDeleteIcon svg {
  width: 24px;
  height: 24px;
}
.awardIcon {
  background: #ffffff;
  margin: 0 0 40px 0;
}
.awardIcon svg {
  width: 86px;
  height: 86px;
  margin: 0 13px;
}
.awardsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.awardsTitleFeature {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 6px;
  margin: 0 4px 4px 4px;
  opacity: 0.5;
}
.awardTitleRating {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}
.awardsTitleCompetiton {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 600px) {
  .container {
    width: 174px;
  }
}
